/* ************************* fonts ************************* */
@font-face {
    font-family: 'Bold';
    src: url('../fonts/VazirmatnRD-Bold.woff2') format('woff2'),
        url('../fonts/VazirmatnRD-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Medium';
    src: url('../fonts/VazirmatnRD-Medium.woff2') format('woff2'),
        url('../fonts/VazirmatnRD-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Light';
    src: url('../fonts/VazirmatnRD-Light.woff2') format('woff2'),
        url('../fonts/VazirmatnRD-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* ************************* default ************************* */
body{
    direction: rtl;
}
.font{
    font-family: 'Medium';
}
::selection {
    color: #ffffff;
    background: #6495ed;
}
.custom-link{
    text-decoration: none;
}
hr{
    width: 60px;
    height: 2px;
}
a{
    text-decoration: none !important;
    transition: all 400ms ease 0s;
}
.custom-link-hover:hover{
    color: #6495ed !important;
}
.footer-icon{
    font-size: 40px;
}
.Zire-Navbar{
    text-align: right;
}
.custom-card{
    overflow: hidden;
    transition: all 500ms ease 0s;
    background-color: rgb(248, 248, 248);
}
.custom-card:hover{
    transform: scale(1.02);
    border: 1px solid rgb(230, 230, 230);
}
.custom-card:hover img{
    transform: scale(1.05);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.6);
    filter: grayscale(30%);
}
.custom-card-image-hover{
    transition: all 500ms ease 0s;
    filter: grayscale(0%);
    box-shadow: 0px 1px 5px transparent;
}

/* ************************* responsive ************************* */
@media all and (max-width:575px) {
    .custom-margin{
        margin: 10px 6px;
    }
}

@media all and (min-width:576px) and (max-width:767px) {
    .custom-margin{
        margin: 10px 6px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .custom-margin{
        margin: 10px 0px;
    }
}

@media all and (min-width:992px) and (max-width:1199px) {
    .custom-margin{
        margin: 10px 6px;
    }
}

@media all and (min-width:1200px) and (max-width:1399px) {
    .custom-margin{
        margin: 0px 30px;
    }
}

@media all and (min-width:1400px) {
    .custom-margin{
        margin: 0px 120px;
    }
}