/* ************************* fonts ************************* */
@font-face {
    font-family: 'Medium';
    src: url('../fonts/VazirmatnRD-Medium.woff2') format('woff2'),
        url('../fonts/VazirmatnRD-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* ************************* default ************************* */
body{
    direction: rtl;
}
.font{
    font-family: 'Medium';
}
::selection {
    color: #ffffff;
    background: #6495ed;
}
.custom-link{
    text-decoration: none;
}
.custom-carousel-hover img{
    transition: all 500ms ease 0s;
}
.custom-carousel-hover img:hover{
    transform: scale(1.01);
}
hr{
    width: 60px;
    height: 2px;
}
a{
    text-decoration: none !important;
    transition: all 400ms ease 0s;
}
.custom-link-hover:hover{
    color: #6495ed !important;
}
.footer-icon{
    font-size: 40px;
}
.Zire-Navbar{
    text-align: right;
}
.custom-card{
    overflow: hidden;
    transition: all 500ms ease 0s;
    background-color: rgb(253, 253, 253);
}
.custom-card:hover{
    transform: scale(1.02);
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(230, 230, 230);
}
.custom-card:hover img{
    transform: scale(1.05);
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.6);
}
.custom-card-link{
    width: fit-content;
    background-color: #6495ed;
}
.custom-card-link:hover{
    background-color: #3a6bc7;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.custom-card-image-hover{
    transition: all 500ms ease 0s;
    filter: grayscale(0%);
    box-shadow: 0px 1px 5px transparent;
}
.custom-cursor{
    cursor: pointer;
}
.blog-custom{
    overflow: hidden;
    transition: all 400ms ease 0s;
}
.blog-custom:hover{
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0,0.3));
    transform: scale(1.02);
}
.blog-custom .card-footer{
    transition: all 400ms ease 0s;
}
.blog-custom:hover .card-footer{
    background-color: #fff;
}
.blog-custom img{
    box-shadow: 0px 0px 0px rgba(0, 0, 0,0);
    transition: all 400ms ease 0s;
}
.blog-custom:hover img{
    transform:scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0,0.5);
}
.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 65px;
    bottom: 30px;
    left: 20px;
    background-color: #6495ed;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: all 600px ease 0s;
}
.whatsapp:hover{
    width: 180px;
    border-radius: 20px;
    background-color: #3a6bc7;
    color: white !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.top {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    right: 20px;
    bottom: 30px;
    text-align: center;
    color: #fff;
    background: #6f6f6f;
    border-radius: 50%;
    transition: all 300ms linear 0s;
}
.top:hover{
    color: white;
    background: #474747;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.custom-bg-color1{
    background-color: rgb(239, 239, 239);
}
.custom-bg-color2{
    background-color: #acbfe2;
}
.fixedname{
    position: fixed;
    z-index: -10;
    bottom: 0px;
}
.custom-teacher{
    transition: all 400ms ease 0s;
}
.custom-teacher:hover{
    transform: scale(1.08);
}
.custom-teacher img{
    transition: all 400ms ease 0s;
}
.custom-teacher:hover img{
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
/* ************************* responsive ************************* */
@media all and (max-width:575px) {
    .custom-margin{
        margin: 10px 6px;
    }
}

@media all and (min-width:768px) and (max-width:991px) {
    .custom-margin{
        margin: 10px 0px;
    }
    
}

@media all and (min-width:1200px) and (max-width:1399px) {
    .custom-margin{
        margin: 0px 30px;
    }
}

@media all and (min-width:1400px) {
    .custom-margin{
        margin: 0px 120px;
    }
    
}